<!DOCTYPE html>
<html>
  <head>
    <title>Hair Salon</title>
  </head>
  <body>
    <div class="container">
      @RenderBody()
      <br>
      <br>
      <button href="/stylists">Back to Stylists</button>
    </div>
  </body>
</html>
