@using HairSalon.Models;
<!DOCTYPE html>
  <head>
  </head>
  <body>
    <div class='container'>
      <p>The stylist and corresponding information is deleted</p>

      <a href="/stylists/delete" class="btn btn-info">Clear</a>
    </div>
  </body>
</html>
