@{
  Layout = "_Layout";
}

<h1>Edit Stylist</h1>
<h2>Edit stylist: @Model["stylist"].GetName()</h2>
<form action="/stylists/@Model["stylist"].GetId()" method="post">
  <div>
    <label for="newName">First Name:</label>
    <input id="newName" name="newName" type="text" required>
  </div>
  <div>
    <label for="newPhoneNumber">Phone Number:</label>
    <input id="newPhoneNumber" name="newPhoneNumber" type="text" required>
  </div>
  <button type="submit">Submit:</button>
</form>
<br>
<a href='/stylists'>Home</a>
