<!DOCTYPE html>
  <head>
  </head>
  <body>
    <div class="container">
        <br>
        <p>Search for a Stylist</p>
        <form action = "/stylists/searchstylist" method="post">
                <label for='stylistName'>Stylist Name</label>
                <input id='stylistName' name='stylistName' type='text' required><br>
                <button type='submit'>Search for Stylist</button>
        </form>
        <br>
        <p>Search for a Client</p>
        <form action = "/stylists/searchclient" method="post">
                <label for='clientName'>Client Name</label>
                <input id='clientName' name='clientName' type='text' required><br>
                <button type='submit'>Search for Client</button>
        </form>
        <br>
        <p>Search for a Specialty</p>
        <form action = "/stylists/searchspeciality" method="post">
                <label for='specialityName'>Specialty</label>
                <input id='specialityName' name='specialityName' type='text' required><br>
                <button type='submit'>Search for Specialty</button>
        </form>
    </div>
  </body>
</html>
