@using HairSalon.Models;
<h1>Stylist Details:</h1>

<li><strong>@Model["stylist"].GetName() </a></strong></li>
<ul>
  <li>Phone Number: @Model["stylist"].GetPhoneNumber()</li>
</ul>

<h2>Clients of this stylist:</h2>
<ul>
  @if (Model["clients"].Count == 0){
    <p>There are no clients for this stylist yet.</p>
  }
  @if (Model["clients"].Count != 0)
  {
    @foreach (ClientClass client in Model["clients"])
    {
      <li><strong><a href='/stylists/@Model["stylist"].GetId()/clients/@client.GetId()'>@client.GetName()</a></strong></li>
    }
  }
</ul>

<p><a href='/stylists/@Model["stylist"].GetId()/clients/new'>Add a new client to this stylist</a></p>
<a href='/stylists/@Model["stylist"].GetId()/edit'>Edit this stylist</a>
<br>
<br>
  <button type="submit" name="button">Add</button>
</form>
<br>
<form action='/stylists/@Model["stylist"].GetId()/delete' method="post">
  <button type="submit" name="button">Delete Stylist</button>
</form>
