@using HairSalon.Models

<!DOCTYPE html>
  <head>
  </head>
  <body>
    <div class="container">
        <p>Change Stylist</p>
        <form action = "/stylists/@Model.GetId()/edit" method="post">
          <label for='stylistName'>New Name</label>
          <input id='stylistName' name='stylistName' type='text' required><br>
          <button type='submit'>Update Stylist</button>
        </form>
    </div>
  </body>
</html>
