@using HairSalon.Models
@{
  Layout = "_Layout";
  }
<div class="container">
  <ul class="nav nav-tabs nav-justified">
    <li>< a href=/stylists/new">Add a stylist: </a></li>
    <li>a href=/"stylists/clients.new">Add a Client: </a></li>
  </ul>
</div>
