@using HairSalon.Models;

  <h1>Hair Salon</h1>

      <p>Change Client Information</p>

      <select name='stylistId' required>
        <option name='stylistId' value=@stylist.GetId()>@stylist.GetName()</option>
      </select>
          @if (@Model.Count == 0)
            {
            }
            <button type='submit'>Update Client Information</button>
