<h1>Hair Salon Client Details</h1>

<h2>Edit client: @Model["client"].GetName()</h2>
<form action="/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()" method="post">
  <div class="form-group">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number:</label>
    <input id="phoneNumber" name="phoneNumber" type="text" class="form-control" required>
  </div>

  <br>
  <br>
  <button type="submit">Edit:</button>
</form>
