@using HairSalon.Models;

<h1>Add a new client to @Model.GetName()</h1>
<form action='/stylists/@Model.GetId()/clients' method='post'>
  <input id='stylistId' name='stylistId' type='hidden' value='@Model.GetId()'>
  <div class="form-group">
    <label for="name"> Name:</label>
    <input id="name" name="name" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="phoneNumber">Phone Number:</label>
    <input id="phoneNumber" name="phoneNumber" type="text" class="form-control" required>
  </div>
  <button type="submit">Submit</button>
</form>
<br>
<a href='/stylists'>Home</a>
